.input-form{
    border-radius: 5px;
    padding: 5px;
}

button{
    border-radius: 5px;
    padding: 5px;
}

.dropdown-form{
    border-radius: 5px;
    padding: 5px;
}

.number{
    width: 80px;
}

.checkbox-form{
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    width: 20px;
}