* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: mostra-nuova, sans-serif;
    font-style: normal;
    font-weight: 400;
}

button{
    background-color: #FFCCCC;
    color: #D4AC0D;
}

button:hover{
    background-color: #D4AC0D;
    color: #FFCCCC;
}
button:active{
    background-color: #D4AC0D;
    color: #FFCCCC;
}

.add-product{
    background-color: #E0E0E0;
    border-radius: 5px;
    border: 2px;
    border-color: #FFCCCC;
    border-style: ridge;
    margin: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.product-page{
    background-color: #E0E0E0;
    border-radius: 5px;
    border: 2px;
    border-color: #FFCCCC;
    border-style: ridge;
    margin: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.productCard:hover{

}

.productCard{
    text-align: center;
}

.productCard-price{
    position: relative;
    top: 30px;
}

.productCard-name{
    position: relative;
    bottom: 30px;
}

.edit-product{
    margin: 5px;
    padding: 15px;
    justify-content: space-between;
    align-content: space-between;
}

.edit-transfer{
    margin: 5px;
    padding: 15px;
    justify-content: space-between;
    align-content: space-between;
}

.form-question{
    padding: 5px;
}

.label-form{
    padding: 5px;
}

.form{
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

h1{
    font-family: mostra-nuova, sans-serif;
    font-style: normal;
    font-weight: 700;
}

h2{
    font-family: mostra-nuova, sans-serif;
    font-style: normal;
    font-weight: 700;
}

h3{
    font-family: mostra-nuova, sans-serif;
    font-style: normal;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: #D4AC0D;
}

a:hover{
    color: #FFCCCC
}

.home-product{
    position: relative;
    top: 300px;
    display: flex;
    padding: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;

}

.row{
    display: flex;
    flex-direction: row;
}

body{
    background-image: url("./images/demo\ logo\ square.jpg");
    background-position-x: center;
    background-position-y: 150px;
    background-repeat: no-repeat;
    background-size: auto;
}

.edit{
    background-color: green;
    color: white;
    padding: 5px;
}

.main-page{
    position: relative;
    top: 40px;
}

.input-form{
    border-radius: 5px;
    padding: 5px;
}

button{
    border-radius: 5px;
    padding: 5px;
}

.dropdown-form{
    border-radius: 5px;
    padding: 5px;
}

.number{
    width: 80px;
}

.checkbox-form{
    padding: 5px;
    border-radius: 5px;
    height: 20px;
    width: 20px;
}

.add-product{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 50px;
}

.close-menu{
    display: inline flex;
    border-radius: 50%;
    padding: 3px;
    justify-self: flex-end;
    align-self: flex-end;
    background-color: red;
    color: white;
}

.submit-button{
    border-radius: 5px;
    padding: 5px;
}

.delete-button{
    display: flex;
    position: relative;
    top: 40px;
    left: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.login-form{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    border-width: 2px;
    border-style: solid;
    border-color: #D4AC0D;
    border-radius: 20px;
    padding: 5px;
    align-items: flex-end;
    align-self: flex-end;
    background-color: #E0E0E0;
}

ul{
    text-decoration: none;
}

li{
    text-decoration: none;
}

.login-basket{
    position: relative;
}

.nav-category{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: pink;
    z-index: 9;
}

.nav-category-links{
    color: #D4AC0D;
    position: relative;
    display: block;
    justify-content: space-around;
    padding: 10px 40px;
    z-index: 9;
}

.nav-category-links:hover{
    background-color: #D4AC0D;
    color: #FFCCCC;
}


.nav-subcategory{
    display:flex;
    top: 40px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    width: auto;
    z-index: 9;
}

.nav-subcategory-links{
    color: #D4AC0D;
    position: relative;
    display: block;
    width: auto;
    width: 100%;
    justify-content: space-around;
    padding: 10px 40px;
    z-index: 9;
}

.nav-subcategory-links:hover{
    background-color: #D4AC0D;
    color: #FFCCCC;
}

.nav-products{
    display:flex;
    top: 40px;
    justify-content: space-around;
    align-items: center;
    width: auto;
    width: 100%;
    z-index: 9;
}

.nav-product-links{
    position: relative;
    color: #D4AC0D;
    display: flex;
    justify-content: space-around;
    padding: 10px 40px; 
    width: 100%;
    width: auto;
    z-index: 9;   
}

.nav-product-links:hover{
    background-color: #D4AC0D;
    color: #FFCCCC;
}

@media screen and (min-width: 768px){
    
    .nav-category{
        flex-direction: row;
        display:flex;
        position: initial;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        width: 100%;
        padding: 0px 30px;
        background-color: pink;
        z-index: 9;
    }

    .nav-category-links{
        position: relative;
        display: block;
        justify-content: space-around;
        padding: 10px 40px;
        z-index: 9;
    }

    .nav-subcategory{
        display:flex;
        position: relative;
        top:40px;
        justify-content: space-around;
        align-items: center;
        width: auto;
        height: 40px;
        background-color: pink;
        z-index: 9;
    }

    .nav-subcategory-links{
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 10px 40px;
        z-index: 9;
    }

    .nav-products{
        display:flex;
        position: absolute;
        top: 40px;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        width: 100%;
        background-color: pink;
        z-index: 9;        
    }

    .nav-product-links{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px 40px;    
        z-index: 9;
    }

}